<html>
<head>
    
</head>
<body>
    <button type="button" class="buttonevento" data-evento-id="b1">1</button>
    <button type="button" class="buttonevento" data-evento-id="b2">2</button>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="~/wwwroot/capturarevento.js"></script>
</body>
</html>