<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Autocomplete - Hitalo de Araujo</title>

    <link href="~/wwwroot/bootstrap.css" rel="stylesheet" />
    <script src="~/wwwroot/jquery-3.2.1.min.js"></script>
    <link href="~/wwwroot/jquery-ui.css" rel="stylesheet" />
    <script src="~/wwwroot/jquery-ui.js"></script>
    <link href="~/wwwroot/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/wwwroot/jquery-ui.min.js"></script>
    <link href="~/wwwroot/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/wwwroot/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/wwwroot/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/wwwroot/jquery-ui.theme.min.css" rel="stylesheet" />
    <script src="~/wwwroot/autocomplete.js"></script>

</head>
<body>

    <div class="ui-widget">
        <label for="evento">Digite o nome de um evento: </label>
        <input id="evento">
    </div>
</body>
</html>