<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Autocomplete - Hitalo de Araujo</title>

    <link href="~/wwwroot/bootstrap.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    @*<script src="~/wwwroot/jquery-3.2.1.min.js"></script>*@
    <link href="~/wwwroot/jquery-ui.css" rel="stylesheet" />
    <script src="~/wwwroot/jquery-ui.js"></script>
    <link href="~/wwwroot/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/wwwroot/jquery-ui.min.js"></script>
    <link href="~/wwwroot/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/wwwroot/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/wwwroot/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/wwwroot/jquery-ui.theme.min.css" rel="stylesheet" />
    <script src="~/wwwroot/autocomplete.js"></script>
    <link href="~/wwwroot/bulma.css" rel="stylesheet" />
</head>
<body>
    <section class="hero is-info is-large">
        <div class="hero-head">
            <header class="nav">
                <div class="container">
                    <div class="nav-left">
                        <a class="nav-item">
                            Hitalo
                        </a>
                    </div>
                    <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    
                </div>
            </header>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    <label for="evento">Digite o nome de um evento: </label>
                    <input id="evento">
                </h1>
            </div>
        </div>

         Abaixo estão os eventos que podem ser registrados
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="is-active"><a>Clique em uma das opções</a></li>
                        <li><a class="evento" data-evento-id="compra">Evento Compra</a></li>
                        <li><a class="evento" data-evento-id="aluga">Evento Aluga</a></li>
                        <li><a class="evento" data-evento-id="venda">Evento Venda</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <script src="~/wwwroot/capturarevento.js"></script>
</body>
</html>